<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="372" android:versionName="@string/version" package="com.hashcode.safestrap"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="false">
        <activity android:label="@string/app_name" android:name="com.hashcode.safestrap.ics.SafestrapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>